<section class="section">
    <div class="container">
        <div class="columns is-centered ">
            <div class="column is-narrow">
                <div class="box">

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="has-text-centered" > User </th>
                                <th class="has-text-centered" > Invite </th>
                            </tr>
                        </thead>

                        <tbody>
                            
                        
                            <% @users.each do |u| %>
                                <tr>
                                    <td class="has-text-centered" > <%= u.username %> </td>

                                    <% if Invite.invited?(u.id,@event.id).empty? %> 
                                        <%= form_with model: [@event, @invite] do |f| %>
                                            <%= f.hidden_field "user[id]", value: u.id %> 
                                            <td class="is-centered" > <%= f.submit "Invite", class: 'button is-primary is-small' %> </td>
                                        <% end %>
                                    <% else %>

                                        <%= form_with url: "#{event_invites_path(@event)}/#{u.id}" , method: :delete do |f| %>
                                            <%= f.hidden_field "u[id]", value: u.id %>
                                            <td> <%= f.submit "Uninvite", class: 'button is-primary is-small' %> </td>
                                        <% end %>

                                    <% end %>
                                </tr>
                            <% end %>   

                        </tbody>

                    </table>
                    <%= link_to 'back', root_path, class: 'button is-light-outlined is-fullwidth' %> 
                </div>
                
            </div>
        </div>
    </div>
</section>

