


<% if @events.any? %> 
    <section class="section">
        <div class="container">
        <h1 class="title">Upcoming Events For me</h1>
            
                <% @events.each_slice(3).to_a.each do |subarray| %>
                    <div class="columns is-centered">
                        <% subarray.each do |event| %>
                            
                            <div class="column is-4"> 
                                
                                <%= link_to event do %> 
                                    
                                    <div class="box">
                                        <p class="subtitle" id="subtitles"> <%= event.description %> </p>
                                        <hr class="navbar-divider">
                                        <p class="helper"> <%= event.date %> </p>
                                    </div>

                                <% end %>

                            </div>

                        <% end %>  
                    </div>

                <% end %>
            

        </div>
    </section>
<% end %>  


<% if @user_events.any? %>
    <section class="section">
        <div class="container">
        <h1 class="title">My Events</h1>

           
            <% @user_events.each_slice(3).to_a.each do |subarray| %>
                <div class="columns is-centerd">
                    <% subarray.each do |event| %>
                        <div class="column is-4"> 

                        
                            <%= link_to event do %>
                                
                                <div class="box">
                                    <p class="subtitle" id="subtitles"> <%= event.description %> </p>
                                    <hr class="navbar-divider">
                                    <p class="helper"> <%= event.date %> </p>
                                </div>

                            <% end %>

                        </div>
                    <% end %>  
                </div>

            <% end %>


        </div>
    </section>
<% end %>
