

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5">
              <h2>Forgot your password?</h2>

              <%= form_for(resource, as: resource_name, url: new_user_password_path(), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :username, class: 'label' %>
                  <div class="control">
                      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'input' %>
                  </div>
                </div>

                <div class="actions control is-fullwidth">
                  <%= f.submit "Send me reset password instructions", class: 'button is-light is-fullwidth' %>
                </div>
              <% end %>


            </div>
        </div>
    </div>
</section>
