<%= form_with model: @event do |f| %> 

   


<% end %> 
<%= link_to 'Back', root_path %>


<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
            
                <div class="field">
                    <%= form_with model: @event do |f| %>
                    <%= f.label :description, class: 'label' %>
                    <%= f.label :location, class: 'label' %>
                    <%= f.label :date, class: 'label' %>

                    <div class="control">
                        <%= f.text_area :description, class: 'input' %> 
                        <%= f.text_field :location, class: 'input' %>
                        <%= f.date_field :date, class: 'input' %>
                        <%= f.submit "Make Event", class: 'button is-small is-primary' %>
                    </div>

                    <% end %>
                </div>

            </div>
        </div>
    </div>
</section>