<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
            
                
                <%= form_with model: @event do |f| %>

                <div class="field">
                    <%= f.label :description, class: 'label' %>
                    <div class="control">
                        <%= f.text_area :description, class: 'textarea is-large' %> 
                    </div>
                </div>

                <div class="field">
                    <%= f.label :location, class: 'label' %>
                    <div class="control">
                        <%= f.text_field :location, class: 'input' %>
                    </div>
                </div>

                <div class="field">
                    <%= f.label :date, class: 'label' %>
                    <div class="control">
                        <%= f.date_field :date, class: 'input' %>
                    </div>
                </div>
                
                <div class="control">
                    <%= f.submit "Make Event", class: 'button is-small is-primary' %>
                </div>
                

                <%= link_to 'Back', root_path %>
                    
                    
                </div>

                <% end %>
               

            </div>
        </div>
    </div>
</section>